body{
	font-family: 'Raleway', sans-serif;
}

.login-div {
    margin-top: 20%;
    
    padding-left: 5%;
    padding-right: 5%;
    border-right: 1px;
    border-left: 1px;
    border-style: groove;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 3%;
}

label{
	padding-bottom:5px;
	font-size:17px;
	
}




.form-control{
	border-radius:0px ;
	height: 39 ;
	
}