
{% extend 'dashboard/base.html' %}
                {% block content %}
                <!--start main content-->
                <section id="main-content">
                    <div class="space-30"></div>
                    <div class="container">
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                                 
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel">
                                    <header class="panel-heading">
                                     
                                        <h2 class="panel-title">Content goes here</h2>
                                   </header>
                                    <div class="panel-body">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                        </p>
                                    </div>
                                </div>
                            </div>
                             
                             
                        </div>
                    </div>
                    {%end block %}

                    <!--footer start-->
                   