<form method="post" class="js-product-update-form" action="{% url 'dashboard:update_product'  form.instance.id %}">
{%csrf_token %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title mtitle">Update Product</h4>
		{% include 'dashboard/includes/partial_product_form.html ' %}
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button class="btn btn-primary" type="submit">Update</button>

</form>